<div class="container">
  <div class="row">
      <div class="col">
          <div id="box">
              <h3 style="text-align: center;">Login</h3>
              <div id="items">
                  <div class="col">
                    <label for="floatingInput">Email address</label>
                      <input type="email" [(ngModel)]=auth.email  class="form-control" id="floatingInput" placeholder="name@example.com">

                    </div>
                    <div class="col">
                      <label for="floatingPassword">Password</label>
                      <input type="password" [(ngModel)]=auth.password class="form-control" id="floatingPassword" placeholder="Password">
                      
                    </div>
                    <br>
                      <button class="btn btn-success" (click)="checkLogin()"  style="margin-bottom: 10px;" type="button">Login</button>
              </div>
          </div>
      </div>
  </div>
</div>