.Welcomeauthor{background-color: #192f93;
    font-size: 25px;
    text-align:center;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    align-items: center;}
    
.nav-link{
    
    align-content: center;
    align-items: center;
    background-color: #199319;
    text-align:center;
color: white;
padding: 25px 25px;
text-decoration: none;
}

