<div>

</div>
<div class="Welcomeauthor">Welcome to Author's Dashboard </div>
<div>

</div>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">



        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                
                <a class="nav-link" routerLink="/createBooks" href="#">Create Books</a>
                <a class="nav-link" routerLink="/searchBooks" href="#">Search Books</a>
                <a class="nav-link" routerLink="/updatebooks" href="#">Update Books</a>
                <a class="nav-link" routerLink="/deleteBooks" href="#">Delete Books</a>
                <!-- <a class="nav-link" routerLink="/searchByAuthor" href="#">Search Books by author</a> -->
            </div>




        </div>
    </div>

</nav>

