

<div class="Welcomeareader">Welcome to Reader's Dashboard </div>
<div>
    <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        



        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                
                <a target="_blank" class="fcc-btn" routerLink="/aboutus" href="#">About Us</a>  
                <a target="_blank" class="fcc-btn" routerLink="/searchBooks" href="#">Search Books</a> 
                <a target="_blank" class="fcc-btn" routerLink="/cart" href="#">cart</a> 

                
            
            </div>




        </div>
    </div>

</nav>
