<div class="container">
  <div class="row">
    <div class="col">
      <div id="box">
        <h3 style="text-align: center;">fill all the fields below</h3>
        <div id="items">


          <div class="col">
            <input type="text" class="form-control" placeholder="Title" [(ngModel)]=book.title aria-label="Title">
          </div>
          <br>
          <div class="col">
            <input type="text" class="form-control" placeholder="Category" [(ngModel)]=book.category
              aria-label="Category">
          </div>
          <br>
          <div class="col">
            <input type="text" class="form-control" placeholder="Image" [(ngModel)]=book.image aria-label="Image">
          </div>
          <br>
          <div class="col">
            <input type="number" class="form-control" placeholder="Price" [(ngModel)]=book.price aria-label="Price">
          </div>
          <br>
          <div class="col">
            <input type="text" class="form-control" placeholder="Publisher" [(ngModel)]=book.publisher
              aria-label="Publisher">
          </div>
          <br>
          <div class="col">
            <input type="text" class="form-control" placeholder="Active" [(ngModel)]=book.active aria-label="Active">
          </div>
          <br>
          <div class="col">
            <input type="text" class="form-control" placeholder="Content" [(ngModel)]=book.content aria-label="Content">
          </div>
          <br>
          <div class="col">
            <input type="text" class="form-control" placeholder="Author Name" [(ngModel)]=book.authorName
              aria-label="Author Name">
          </div>
          <br>
          <div class="col">
            <input type="date" class="form-control" placeholder="Author Name" [(ngModel)]=book.releasedDate
              aria-label="ReleasedDate">
          </div>
          <br>
        </div>
        <br>
        <div class="col">
          <input type="number" style="align-items: center;" class="form-control" placeholder="price"
            [(ngModel)]=book.price aria-label="Age">
        </div>

        <br>
        <button type="button" class="btn btn-outline-success" (click)="save()">Success</button>

      </div>
    </div>
  </div>
</div>